<div id="caixasobre">
 <div id="posicaosobre">
     <br/><br/><br/><br/>
     <h2 align="center"> <font   color="#ff0000"> S E M E D U C  --  Ver.1.0       . </font></h2>
     <h3>Sistema de controle de inscrição on-line para cursos oferecidos pela
     Secretaria da Educação da Prefeitura Municipal de Americana - SP
     <br/>
     <u>Analistas:</u><br/><br/>
     > ALEXANDRE J. RIBEIRO SOARES<br/><br/>
     > NAOR GARCIA FILHO</h3>
    <table width="85%">
     <tr>
       <td align="right"><%= button_to 'Voltar', new_gerenciar_path %></td>
     </tr>
    </table>
 </div>
 </div>
