    <br/>
    <br/>
   <table width="60%" border="1" align="center">
     <tr>
       <td>
         <h2 align="center">Favor inserir senha gerencial</h2>
       </td>
     </tr>
      <tr>
        <% form_tag sessions_path do %>
          <td align="center">
            <p><%= label :password, "Password" %></p>
            <p><%= password_field_tag :password%></p>
          </td>
        <%end%>
      </tr>
   </table>
     <table width="60%" align="center">
    <tr>
      <td><%= button_to "Voltar", root_path, {:method => 'get'} %></td>
    </tr>
  </table>
   

