<div id="home1">
<div id="logoSemEduc">


     <table width="71%">
       <tr>
        <td align="left">
           <%=  button_to "INSCREVER-SE", { :action => "inscreverse" } %>
        </td>
        <td align="right">
         <%=  button_to "GERENCIAR", { :action => "gerenciar" } %>
       </td>
      </tr>
    </table>

  </div>
 </div>


