 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Consuta inscrição por curso</h1>
      </td>
   </tr>
   <tr>
      <td>
        <br/>
        <font size="4"> Selecione curso: <%= collection_select :curso, :curso_id, @cursos, :id, :nome, :include_blank => ' -- Selecione -- '  %></font>
           <%= observe_field 'curso_curso_id',
            :update => "listagem",
            :url    => { :action => 'lista_inscricao' },
            :with   => 'curso_curso_id' %>
          <div id="listagem"> </div>
      </td>
   </tr>
  </table>
  <div class="botao">
   <table width="90%" align="center">
    <tr>
      <td width="8%"><%= button_to 'Voltar', gerenciars_path, {:method => 'get'}%></td>
        <td><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
  </div>



