<script Language="JavaScript">
   function Imprimir(){ window.print(); }
</script>
<style media="print">
  .botao {display: none;}
</style>
<br/>
 <br/>
 <table width="60%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Estatistica das Inscrições</h1>
      </td>
   </tr>
   <tr>
      <td>
        <%  $contador = 0 %>
        <table  border="1" width="100%" cellspacing="1">
         <font size=4><tr><b>Nome do curso</b></tr></font>
         <% for curso in @cursos %>
          <tr>
            <td>
              <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
                <tr><%=h curso.nome %></tr>
             </table>
            </td>
            <td>
             <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
                <tr>
                  <td align="center"><%= Inscricao.tamanho_inscricao(curso) %></td>
                  <% $parcial = Inscricao.tamanho_inscricao(curso) %>
                </tr>


             </table>
            </td>
          </tr>
        <%  $contador = $contador + $parcial %>
        <% end %>
       </table>
    </td>
   </tr>
   <tr>
     <td colspan="2"><b> Total de inscrições: <%= $contador %></b> </td>
   </tr>
  </table>
     <table width="60%" align="center">
    <tr>
      <td><%= button_to 'Voltar', gerenciars_path, {:method => "get"} %></td>
    </tr>
  </table>
 

