 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Alterar Inscrição</h1>
      </td>
   </tr>
   <tr>
      <td>
         <table border="3" width="100%">
           <tr>
            <td>
              <%= render "form" %>
            </td>
           </tr>
         </table>
      </td>
   </tr>
  </table>
  <script>
    $("#demo input[title]").tooltip();
  </script>