    <% form_remote_tag :action => "kind", :controller => "inscricaos", :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
         <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
               <a href="#"><%= radio_button_tag(:type_of, "1") %></a>Unitario
               <a href="#"><%= radio_button_tag(:type_of, "2") %></a>Geral
            </td>
         </tr>
         <tr>
           <td><div class="envia_geral" style="display:none"> <%= render "/shared/consulta" %> </div></td>
         </tr>
        </table>
    <% end %>
