 <br/>
 <br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Inscrição</h1>
      </td>
   </tr>
   <tr>
      <td>
         <table border="3" width="100%">
         <%= render "form" %>
         </table>
   <table width="60%" align="center">
    <tr>
      <td width="8%">Ainda não está cadastrado <%= link_to 'clique aki', new_participante_path %> para efetuar seu cadastro.</td>
    </tr>
   </table>
  </table>
  <script>
    $("#demo input[title]").tooltip();
  </script>