<br/>
<div class="sombra">
  <div class="formulario">
    <div class="form_title"><h1 align="center">Inscrição</h1></div>
    <div class="form_body">
      <fieldset>
        <%= render "form" %>
      </fieldset>
      <p>Ainda não está cadastrado???? Clique no botão abaixo para efetuar seu cadastro.</p>
      <p><%= link_to 'Cadastre-se já', new_participante_path, :class => "link" %></p>
    </div>
  </div>
</div>


  <script>
    $("#demo input[title]").tooltip();
  </script>