<div id="conteudo">
  <br/>
    <h1 align="center">Cadastro de Região</h1>
    
  <br/>
<p>
  <fieldset>
   <legend><font size=4>Região</font></legend>
  <p>
  <b>Nome:</b>
  <%=h @regiao.nome %>
  </p>
 </fieldset>
</p>
<br/>
|<%= link_to 'Alterar', edit_regiao_path(@regiao) %> |
<%= link_to 'Voltar', regiaos_path %> |
</div>
