#boxes {
	font: 0.9em Arial, Helvetica, sans-serif;
	width:100%;
	color:#333;
	margin: 0;
	}
.fixo {
	margin: 0 auto;
	width: 25em;
	background: url(images/canto-inf-dir.jpg) no-repeat 100% 100%;
	font-size: 100%;
	}
.titulo {
	background: url(images/canto-sup-dir.jpg) no-repeat 100% 0;
	margin: 0;
	padding: 0;
	text-align: center;
	}
.titulo h6 {
	background: url(images/canto-sup-esq.jpg) no-repeat 0 0;
	margin: 0;
	padding: 45px 20px 5px;
	color: #333;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.0em;
	}
* html .titulo h6 {height: 1%;} /* Hack para IE5 PC */
.conteudo {
	background: url(images/canto-inf-esq.jpg) no-repeat  0 100%;
	color:#fff;
	margin: 0;
	padding: 5px 35px 45px;
	}
#boxes .conteudo p {
	margin:0.7em;
	line-height:1.2em;
	}