body {
margin:0;
background:#c4c4c4
top left repeat-x fixed;
}
a:hover {
  color:blue;
  background-color:gray;
}
#topo {
background-image:url(images/americana_titulo.jpg);
background-repeat: no-repeat;
text-align: center;
color:white;
width:100%;
height:80px;
margin:0;
font:bold;
border-color:black;
border-left: double;
border-bottom: double;
border-top: double;
border-right: double;

}

#caixasobre {
background-image:url(images/caixa.jpg);
height:480px;
background-position: center;
}

#posicaosobre {
width:35%;
margin-top:-25px;
margin-left: 380px;
}

#caixausuario {
background-image:url(images/criacao.jpg);
height:450px;
background-position: center;
}

#posicaousuario {
width:35%;
margin-top:-25px;
margin-left: 390px;
}
#caixa {
background-image:url(images/caixa.jpg);
height:480px;
background-position: center;
}


#inicial {

}

#topo strong {
font:bold 24px verdana,arial,helvetica,sans-serif;
margin:25px;
float:left;
}
#conteudo {
margin:25px;
}
#conteudologin {
margin:5px;

}
#conteudo1 {
margin:30px;
margin-left: 30px;
}
#alinha {
margin:25px;
}

#menu ul {
  padding:0;
  margin:0;
  float:left;
  width:100%;
  list-style:none;
  background:#B0C4DE;
}

#menu li {
  display:inline;
}
#menu li a {
  padding:5px;
  border:1px solid black;
  text-decoration:none;
  width:150px;
  background:#eee;
  float:left;
}
#fundo_menu {width:50%;}
#nome_aviso {
font: bold;
font-size:x-large;
color: red;
}

#mensagem{
font: bold;
font-size:large;
text-align: left;
color: red;
}

#descricao {
font: bold;
font-size:medium;
text-align: left;
color: green;
}

#nome_mae{
font: bold;
font-size:x-large;
color: red;
}

#Certeza{
font: bold;
font-size:x-large;
color: red;
}
#asterisco{
 color: red;
font-size: large;
}

#aviso_mae{
font: bold 12px;
color: green;
}

.menu_list {
	width: 1000px;
}
.menu_head {
	padding: 1px 1px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:bold;
    font-size: medium;
    width:60%;
}
.menu_body {
    padding: 0px 67px;
    display:none;
    font-size: large;
 }

#estatistica{
  position: absolute;
  left: 923px;
   top: 136px;
  }

  #rodape{
    background-image:url(images/fundo_rodape.jpg);
    margin:25px;
  	position:relative;
    top: 500px;
    width:96%;
    color:white;
    text-align:center;
}

  #informacao{
    margin:25px;
  	position:relative;
    width:96%;
    color:white;
    text-align:center;
}

#impressao {
    background-color:white;
    font:bold;
    width:100%
}

#reordenar {
    width:27%;
}

#confirmacao {
    background-color:silver;
    font:bold;
    width:15%;
    position: absolute;
    left: 70px;
    top: 230px;
    margin-left: 450px;
    border-style:double;
}

.menu-hv * { margin: 0; padding: 0;}
.menu-hv a { display: block; }
.menu-hv li { list-style: none; float: left; height: 1%; }
.menu-hv li ul { position: absolute; visibility: hidden;}
.menu-hv li ul li { float: none; white-space: nowrap; display: inline; /* o inline é pro IE */}
.menu-hv li ul li ul { position: absolute; left: 100%; top: 0; }
.menu-hv li:hover ul, .menu-hv li.over ul { visibility: visible;}
.menu-hv li:hover ul ul, .menu-hv li.over ul ul { visibility: hidden;}
.menu-hv ul ul li:hover ul, .menu-hv ul ul li.over ul { visibility: visible;}
 /* visual */
.menu-hv {  background:black repeat-x top;width: 1233px;  margin: 0 0 0 0; height: 28px;}
.menu-hv a { font-weight: bold;  text-decoration: none; color: #FFF; padding: 0 10px; line-height: 23px;}
.menu-hv a:hover { text-decoration:  underline; background-color: #000; color: #FFF;}
.menu-hv ul li ul {  background-color: #B0C4DE; border: 1px solid #000; }
.sub-menu-hv * { margin: 0; padding: 0;}
.sub-menu-hv a { display: block; }
.sub-menu-hv li { list-style: none; float: left; height: 1%; }
.sub-menu-hv li ul { position: absolute; visibility: hidden;}
.sub-menu-hv li ul li { float: none; white-space: nowrap; display: inline; /* o inline é pro IE */}
.sub-menu-hv li ul li ul { position: absolute; left: 100%; top: 0; }
.sub-menu-hv li:hover ul, .menu-hv li.over ul { visibility: visible;}
.sub-menu-hv li:hover ul ul, .menu-hv li.over ul ul { visibility: hidden;}
.sub-menu-hv ul ul li:hover ul, .menu-hv ul ul li.over ul { visibility: visible;}
/* visual */
.sub-menu-hv a { font-weight: bold;  text-decoration: none; color: #FFF; padding: 0 10px; line-height: 23px;}
.sub-menu-hv a:hover { text-decoration:  underline; background-color: #000; color: #FFF;}
.sub-menu-hv ul li ul { background-color: #B0C4DE; border: 1px solid #000; }
