<li><%= link_to_remote('Atualizar Grupo', :url => { :controller => 'criancas',:action => "atualiza_grupo"}) %></li>
<li><%= link_to 'Verificar Log', logs_path %></li>
<br/>
<br/>
<br/>
<hr>

<table>
  <tr>
    <td align="center">
      <div id="reordenar"></div>
    </td>
  </tr>
  <tr>
    <td align="center">
      <div id="confirma"></div>
    </td>
  </tr>
</table>

