
<table border="1" width="100%">
<th align="center" colspan="2" bgcolor="red"  style="color:white">Re-ordenar crianças?</th>
<tr>
<td align="center">| <%= link_to_remote('SIM', :url => { :action => "efetiva_realocacao"}) %> |</td>
<td align="center">| <%= link_to 'NÃO', criancas_path %> |</td>
</tr>
</table>

