  <div id="conteudo">
    <div id="topo">
      <br/>
      <h1>Busca por unidades</h1>
    </div>
    <p>
      <fieldset>
        <div id="unidade">
          <p>Selecione uma unidade para consultar: <%= collection_select :unidade, :unidade_id, @unidades, :id, :nome %></p>
        </div>

      </fieldset>
    </p>
  </div>


