<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
    display: none;
  }
</style>
    
<div id="conteudo">
  <br/>
 <div class="botao">
   <div id="menu">
      <%= render :partial => 'inicio'%>
      <script type="text/javascript" src="/javascripts/swfobject.js"></script>

   </div>
 </div>
 <div id="consul"></div>
  <%= render :partial => 'estatistica'%>
</div>
<div id="Listagem"></div>


