<div id="conteudo">
  <h2 align="center">Graficos</h2>
  <br/>
  <div class="sub-menu-hv">
    <%= link_to "Geral", grafico_geral_path%><br/>
    <%= link_to "Por unidade", grafico_por_unidade_path%>
  </div>

  <div id="graficos"></div>
</div>
