logo{

margin:90px 0px;
background-image:url(Imagens/logo.jpg);
background-repeat: no-repeat;
height:120px;
}
#menu {
   position:inherit;
   left: 280px;
   top: 20px;;
}
body {
margin:0;
background-color:#c4c4c4;
}

a:hover {
  color:white;
  background-color:gray;
}
#alinha{
margin:25px;
}

#conteudo {
   position:absolute;
   left: 430px;
   top: 250px;;
}
#conteudo1 {
   position:absolute;
   left: 300px;
   top: 200px;;
}

#conteudo2 {
   position:absolute;
   left: 10px;
   top: 200px;
}

#conteudo3 {
   position:absolute;
   left: 100px;
   top: 200px;
}

#topo {
background-image:url(Imagens/americana.jpg);
background-repeat: no-repeat;
text-align: center;
color:white;
width:100%;
height:80px;
margin:0;
font:bold;
border-color:black;
border-left: double;
border-bottom: double;
border-top: double;
border-right: double;
}

#rodape{
    background-image:url(Imagens/fundo_rodape.jpg);
    margin:25px;
  	position:relative;
    top: 589px;
    width:96%;
    color:white;
    text-align:center;
}

#caixasobre {
background-image:url(Imagens/caixa.jpg);
height:480px;
background-position: center;
}
#posicaosobre {
width:35%;
margin-top:-25px;
margin-left: 440px;
}

#contents{
    margin:0 auto;
    background-image:url(Imagens/body.jpg);
    height:600px;
    width:950px;

}

#principal{
    float:right;
    height:650px;
    width:950px;
    background-image:url(Imagens/principal_body.gif);
    font-size:10px;
}
#logoSemEduc{
   background-image:url(Imagens/logoSemEduc.jpg);
   background-repeat: no-repeat;
   text-align: center;
   color:white;
   height:650px;
   width:950px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
}

