.tooltip {
	display:none;
    background:transparent url(Imagens/black_arrow.png);
	font-size:12px;
	height:232px;
	width:240px;
	padding:25px;
	color:#fff;
}

/* style the trigger elements */
#demo img {
	border:0;
	cursor:pointer;
	margin:0 10px;
}

logo{
margin:90px 0px;
background-image:url(Imagens/logo.jpg);
background-repeat: no-repeat;
height:120px;
}
#menu {
   position:inherit;
   left: 280px;
   top: 20px;;
}
body {
margin:0;
background-color:#c4c4c4;
}

a:hover {
  color:white;
  background-color:gray;
}
#alinha{
margin:25px;
}

#conteudo {
   position:absolute;
   left: 430px;
   top: 250px;;
}
#topo {
text-align: center;
color:white;
width:100%;
height:80px;
margin:0;
font:bold;
}

#rodape{
    background-image:url(Imagens/fundo_rodape.jpg);
    margin:25px;
  	position:relative;
    top: 589px;
    width:96%;
    color:white;
    text-align:center;
}

#caixasobre {
background-image:url(Imagens/caixa.jpg);
background-repeat: no-repeat;
   text-align: center;
   color:white;
   height:650px;
   width:950px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
}
#inscrever{
   position: relative;
   border: 1px solid #1E679A;
   width: 187px;
   left: 380px;
   top: 352px;
   height:200px;
}

#line{
    border: 1px solid black;
}

#title{
   background-color: orange;
   font-weight: bold;
   color: #ffffff;
   padding: 2px;
}
#botao{
   padding: 2px;
   background-color: #ffffcc;
} 
#texto{
   padding: 12px;
   background-color: #ffffcc;
   color:black;
}
#admin{
   padding: 17px;
   background-color: #ffffcc;
   color:black;
}

#posicaosobre {
width:40%;
margin-top: 50px;
margin-left: 300px;
}

#contents{
    margin:0 auto;
    background-image:url(Imagens/body.jpg);
    height:700px;
    width:950px;

}

#principal{
    float:right;
    height:700px;
    width:950px;
    background-image:url(Imagens/principal_body.gif);
    font-size:10px;
}
#back{
   background-image:url(Imagens/panfleto.jpg);
   background-repeat: no-repeat;
   text-align: center;
   color:white;
   height:700px;
   width:950px;
   margin:0;
   font:bold;
}

#entrar{
    float:left;
    height:300px;
    width:950px;
    background-image:url(Imagens/principal_body.gif);
    font-size:10px;
}
#box{
   text-align:center;
   position: relative;
   border: 1px solid black;
   width: 200px;
   left: 380px;
   top: 30px;
   height:210px;
}

.tabelas {
  border: solid 1px #666;
  border-collapse: separate;  
}


.hide {
    display:none;
}
.tabelas th {
  font-size: 10px;
  color: white;
  background-color: orange;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}
.tabelas th.titulo {
    background-color: yellow;
}
.tabelas th.titulo h1{
    color:#000;
}


.tabelas td {
  padding: 4px 8px;
  background-color: white;
}

.tabelas td:hover {
  background-color: white;
}

.tabelas .even td {
  background-color: #E3E6FF;
}

.tabelas .odd td {
  background-color: #D1D8F6;
}
