<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="4"> <b class="label_busca">Digitar dado para consulta:</b></font>
         <%= text_field_tag :msg, params[:msg], :class=> "txt_busca" %>        
         <%= submit_tag "Enviar", :class => "btn_filtrar" %>
     </td>
   </tr>
</table>
