           <div id="inscrever">
             <div id=title>
                Inscreva-se Já
             </div>
             <div id="botao">
               <br/>
                <%=  button_to "Inscreva-se já", new_inscricao_path, {:method => 'get'} %>
             </div>
             <div id="texto">
                Clique no botão acima para inscrever-se nos minicursos oferecido pela Informática da Secretaria de Educação.
             </div>
           </div>
