           <div id="inscrever">
             <div id=title>
                <%= link_to "Inscreva-se Já", new_inscricao_path, {:method => 'get', :class => "button"} %>
             </div>
             <div id="texto">
                Clique no botão acima para inscrever-se nos minicursos oferecidos pela Informática da Secretaria de Educação.
             </div>
           </div>
