<br/><br/><br/><br/>
 <table width="90%" border="1" align="center">
   <tr>
     <td>
        <h1 align="center">Consulta Cursos</h1>
      </td>
   </tr>
   <tr>
      <td>
        <div class="botao">
        <table>
          <tr>
            <td>
                <font size="4"> Selecione uma unidade para consultar: <%= collection_select :curso, :curso_id, @cursos, :id, :nome, :include_blank => ' -- Selecione -- '  %></font>
             </td>
          </tr>
        </table>
        </div>
<%= observe_field 'curso_curso_id',
           :update => "listagem",
           :url    => { :action => 'lista_curso' },
           :with   => 'curso_curso_id' %>
        <div id="listagem"> </div>
     </td>
   </tr>
  </table>
  <div class="botao">
   <table width="90%" align="center">
    <tr>
       <td width="8%"><%= button_to 'Voltar', gerenciars_path, {:method => "get"} %></td>
       <td><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
 </div>

  

