<br/>
<div class="sombra">
  <div class="formulario">
    <div class="form_title"><%= logged_in? ? "<h1>Responder Enquete</h1>" : "<h1>Alterar Pesquisa</h1>"%></div>
    <div class="form_body"><%= render "form" %></div>
  </div>
</div>
    
    <%= link_to 'Show', @pesquisa %> |
    <%= link_to 'Back', pesquisas_path %>
