<div class="formulario">
  <div class="form_title"><h1 align="center">Enquetes criadas</h1></div>
  <div class="form_body">
    <table border="1" width="100%" class="tabelas">
      <tr>
        <th>Pesquisa</th>
      </tr>

      <% @pesquisas.each do |pesquisa| %>
        <tr>
          <td width="70%"><%=h pesquisa.nome %></td>
          <td><%= link_to logged_in? ? "Alterar" : "Responder", edit_pesquisa_path(pesquisa) %></td>
          <%if logged_in? %>
            <td><%= link_to 'Excluir', pesquisa, :confirm => 'Confirma?', :method => :delete %></td>
          <%end%>
        </tr>
      <% end %>
    </table>
  
    <br />
  </div>
</div>


