<br/>
<div class="sombra">
  <div class="formulario">
    <div class="form_title"><h1 align="center">Nova Enquete</h1></div>
    <div class="form_body"><%= render "form" %></div>
  </div>
</div>
      
