<br/>
    <h1 align="center">Gerenciamento de Usuários</h1>
<br/>

<div id="ttt">
    | <%= link_to 'Usuários Cadastrados', users_path%>
    | <%= link_to 'Usuários Associados', roles_users_path%>
    | <%= link_to 'Voltar', root_path %> |
</div>

