     <table width="75%">
       <tr>
         <td align="left">
           <br/>
            <%=  button_to "INSCREVER-SE", new_inscricao_path, {:method => 'get'} %>
         </td>
        </tr>
        <tr>
         <td align="left">
          <%=  button_to "GERENCIAR", gerenciars_path, {:method => 'get'} %>
         </td>
      </tr>
    </table>


