     <table width="71%">
       <tr>
        <td align="left">
           <%=  button_to "INSCREVER-SE", new_inscricao_path, {:method => 'get'} %>
        </td>
        <td align="right">
         <%=  button_to "GERENCIAR", login_path, {:method => 'get'} %>
       </td>
      </tr>
    </table>


