     <table width="75%">
       <tr>
        <td align="left">
           <%=  button_to "INSCREVER-SE", new_inscricao_path, {:method => 'get'} %>
        </td>
        <td align="right">
         <%=  button_to "GERENCIAR", gerenciars_path, {:method => 'get'} %>
       </td>
      </tr>
    </table>


