<br/>
<font size="4"><b><u> Resultado da Consulta</u></b></font>
  <br/>  <br/>
 <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
      <%unless @inscricao.present?%>
        "Participante ainda não possui inscrição"
      <%else%>
          <% @inscricao.cursos.each do |curso| %>
              <tr>
                <td colspan="2" align="center">
                  <b><%=h curso.nome %></b>
                </td>
              </tr>
            <tr>
              <td><%=h "Opção1: #{Unidade.find(@inscricao.opcao1).nome} - #{@inscricao.periodo_opcao1}" %></td>
              <td><%=h "Opção2: #{Unidade.find(@inscricao.opcao2).nome} - #{@inscricao.periodo_opcao2}" %></td>
            </tr>
          <% end %>
       <%end%>
 </table>