<div class="sombra">
  <div class="formulario">
    <div class="form_title"><h1 align="center">Cadastro de Participantes</h1></div>
    <div class="form_body" style="float:left" align="justify"><%= render "form" %></div>
    <div class="form_body" style="float:right">
      <%= render "shared/avisos" %>
      <div class="form_rodape">
        <%= button_to 'Voltar', gerenciars_path, {:method => "get"} %>
      </div>
    </div>
  </div>
</div>















